* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body{
    margin: 0;
    background-color: rgba(219, 219, 219, 0.512);
    overflow: hidden;
}

header{
    display: inline-flex;
    padding: 1rem;
    height: 60rem;
    
    background-color: rgba(128, 128, 128, 0.579);
}

.btn {
  display: inline-flex;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 0.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 250;
  color: black;
  background-color: white;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn::after {
  background-color: #fff;
 }
 
 .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }


svg{
    color: #000000 ;
}

li {
    display: inline-flexbox;
    text-align: center;
    margin: 12rem 2px 5px;
}

.card-infos {
    width: 28.1rem;
    height: 31.2rem;
    background: white;
    border-radius: 50px;
    box-shadow:
     rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
     rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
     rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
     rgba(0, 0, 0, 0.06) 0px 2px 1px, 
     rgba(0, 0, 0, 0.09) 0px 4px 2px, 
     /*COR DO FUNDO DO CARD*/
     rgba(0, 0, 0, 0.09) 0px 8px 4px, 
     rgba(0, 0, 0, 0.09) 0px 16px 8px, 
     rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: -45rem 38%;
    
  }
.img-prf{
    position: relative;
    top: 6.8rem;
    display: flex;
    justify-content: center;
}
.prf{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    margin-top: -11rem;
    border: rgba(190, 190, 190, 0.541) solid;
    box-shadow: .5rem -.6rem .6rem rgba(190, 190, 190, 0.541) ;
    transition: .5s;
}